openapi: 3.1.0
info:
  title: Amazon VPC Lattice
  version: '1.0.0'
  description: Minimal OpenAPI representation of the Amazon VPC Lattice service API. Operations follow the AWS RPC-over-HTTP convention.
servers:
  - url: https://vpc-lattice.amazonaws.com
x-generated-from: https://docs.aws.amazon.com/vpc-lattice/latest/ug/
x-generated-by: claude-crawl-2026-05-08
paths:
  /BatchUpdateRule: {post: {summary: BatchUpdateRule, operationId: BatchUpdateRule, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateAccessLogSubscription: {post: {summary: CreateAccessLogSubscription, operationId: CreateAccessLogSubscription, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateListener: {post: {summary: CreateListener, operationId: CreateListener, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateResourceConfiguration: {post: {summary: CreateResourceConfiguration, operationId: CreateResourceConfiguration, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateResourceGateway: {post: {summary: CreateResourceGateway, operationId: CreateResourceGateway, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateRule: {post: {summary: CreateRule, operationId: CreateRule, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateService: {post: {summary: CreateService, operationId: CreateService, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateServiceNetwork: {post: {summary: CreateServiceNetwork, operationId: CreateServiceNetwork, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateServiceNetworkResourceAssociation: {post: {summary: CreateServiceNetworkResourceAssociation, operationId: CreateServiceNetworkResourceAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateServiceNetworkServiceAssociation: {post: {summary: CreateServiceNetworkServiceAssociation, operationId: CreateServiceNetworkServiceAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateServiceNetworkVpcAssociation: {post: {summary: CreateServiceNetworkVpcAssociation, operationId: CreateServiceNetworkVpcAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateTargetGroup: {post: {summary: CreateTargetGroup, operationId: CreateTargetGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteAccessLogSubscription: {post: {summary: DeleteAccessLogSubscription, operationId: DeleteAccessLogSubscription, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteAuthPolicy: {post: {summary: DeleteAuthPolicy, operationId: DeleteAuthPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteDomainVerification: {post: {summary: DeleteDomainVerification, operationId: DeleteDomainVerification, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteListener: {post: {summary: DeleteListener, operationId: DeleteListener, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteResourceConfiguration: {post: {summary: DeleteResourceConfiguration, operationId: DeleteResourceConfiguration, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteResourceEndpointAssociation: {post: {summary: DeleteResourceEndpointAssociation, operationId: DeleteResourceEndpointAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteResourceGateway: {post: {summary: DeleteResourceGateway, operationId: DeleteResourceGateway, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteResourcePolicy: {post: {summary: DeleteResourcePolicy, operationId: DeleteResourcePolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteRule: {post: {summary: DeleteRule, operationId: DeleteRule, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteService: {post: {summary: DeleteService, operationId: DeleteService, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteServiceNetwork: {post: {summary: DeleteServiceNetwork, operationId: DeleteServiceNetwork, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteServiceNetworkResourceAssociation: {post: {summary: DeleteServiceNetworkResourceAssociation, operationId: DeleteServiceNetworkResourceAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteServiceNetworkServiceAssociation: {post: {summary: DeleteServiceNetworkServiceAssociation, operationId: DeleteServiceNetworkServiceAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteServiceNetworkVpcAssociation: {post: {summary: DeleteServiceNetworkVpcAssociation, operationId: DeleteServiceNetworkVpcAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteTargetGroup: {post: {summary: DeleteTargetGroup, operationId: DeleteTargetGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeregisterTargets: {post: {summary: DeregisterTargets, operationId: DeregisterTargets, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetAccessLogSubscription: {post: {summary: GetAccessLogSubscription, operationId: GetAccessLogSubscription, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetAuthPolicy: {post: {summary: GetAuthPolicy, operationId: GetAuthPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetDomainVerification: {post: {summary: GetDomainVerification, operationId: GetDomainVerification, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetListener: {post: {summary: GetListener, operationId: GetListener, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetResourceConfiguration: {post: {summary: GetResourceConfiguration, operationId: GetResourceConfiguration, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetResourceGateway: {post: {summary: GetResourceGateway, operationId: GetResourceGateway, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetResourcePolicy: {post: {summary: GetResourcePolicy, operationId: GetResourcePolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetRule: {post: {summary: GetRule, operationId: GetRule, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetService: {post: {summary: GetService, operationId: GetService, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetServiceNetwork: {post: {summary: GetServiceNetwork, operationId: GetServiceNetwork, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetServiceNetworkResourceAssociation: {post: {summary: GetServiceNetworkResourceAssociation, operationId: GetServiceNetworkResourceAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetServiceNetworkServiceAssociation: {post: {summary: GetServiceNetworkServiceAssociation, operationId: GetServiceNetworkServiceAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetServiceNetworkVpcAssociation: {post: {summary: GetServiceNetworkVpcAssociation, operationId: GetServiceNetworkVpcAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetTargetGroup: {post: {summary: GetTargetGroup, operationId: GetTargetGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListAccessLogSubscriptions: {post: {summary: ListAccessLogSubscriptions, operationId: ListAccessLogSubscriptions, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListDomainVerifications: {post: {summary: ListDomainVerifications, operationId: ListDomainVerifications, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListListeners: {post: {summary: ListListeners, operationId: ListListeners, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListResourceConfigurations: {post: {summary: ListResourceConfigurations, operationId: ListResourceConfigurations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListResourceEndpointAssociations: {post: {summary: ListResourceEndpointAssociations, operationId: ListResourceEndpointAssociations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListResourceGateways: {post: {summary: ListResourceGateways, operationId: ListResourceGateways, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListRules: {post: {summary: ListRules, operationId: ListRules, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServiceNetworkResourceAssociations: {post: {summary: ListServiceNetworkResourceAssociations, operationId: ListServiceNetworkResourceAssociations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServiceNetworks: {post: {summary: ListServiceNetworks, operationId: ListServiceNetworks, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServiceNetworkServiceAssociations: {post: {summary: ListServiceNetworkServiceAssociations, operationId: ListServiceNetworkServiceAssociations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServiceNetworkVpcAssociations: {post: {summary: ListServiceNetworkVpcAssociations, operationId: ListServiceNetworkVpcAssociations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServiceNetworkVpcEndpointAssociations: {post: {summary: ListServiceNetworkVpcEndpointAssociations, operationId: ListServiceNetworkVpcEndpointAssociations, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServices: {post: {summary: ListServices, operationId: ListServices, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListTagsForResource: {post: {summary: ListTagsForResource, operationId: ListTagsForResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListTargetGroups: {post: {summary: ListTargetGroups, operationId: ListTargetGroups, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListTargets: {post: {summary: ListTargets, operationId: ListTargets, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /PutAuthPolicy: {post: {summary: PutAuthPolicy, operationId: PutAuthPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /PutResourcePolicy: {post: {summary: PutResourcePolicy, operationId: PutResourcePolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /RegisterTargets: {post: {summary: RegisterTargets, operationId: RegisterTargets, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StartDomainVerification: {post: {summary: StartDomainVerification, operationId: StartDomainVerification, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /TagResource: {post: {summary: TagResource, operationId: TagResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UntagResource: {post: {summary: UntagResource, operationId: UntagResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateAccessLogSubscription: {post: {summary: UpdateAccessLogSubscription, operationId: UpdateAccessLogSubscription, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateListener: {post: {summary: UpdateListener, operationId: UpdateListener, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateResourceConfiguration: {post: {summary: UpdateResourceConfiguration, operationId: UpdateResourceConfiguration, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateResourceGateway: {post: {summary: UpdateResourceGateway, operationId: UpdateResourceGateway, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateRule: {post: {summary: UpdateRule, operationId: UpdateRule, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateService: {post: {summary: UpdateService, operationId: UpdateService, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateServiceNetwork: {post: {summary: UpdateServiceNetwork, operationId: UpdateServiceNetwork, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateServiceNetworkVpcAssociation: {post: {summary: UpdateServiceNetworkVpcAssociation, operationId: UpdateServiceNetworkVpcAssociation, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateTargetGroup: {post: {summary: UpdateTargetGroup, operationId: UpdateTargetGroup, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
